body{
    background-color: black;
    margin-top: 50px;
    .text{
        color: white;
        border: 1px solid whitesmoke;
        text-align: center;    
        font-size:x-large;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
    }
    .image{
        height:50%;
        
    }
}